body {
    display:flex;
    flex-direction: column;
    text-align: center;
}
.login *{
    margin:1rem 1rem;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 75vw;
}

#hero {
    position:relative; 
    background:url('assets/hero.png') no-repeat; 
    background-position: center;
    background-size: contain;
    min-height:40vh; 
    /*height:60vh;*/
    width: 100%;
    padding:0;
   /* margin-top:-1em;*/
    margin-bottom:2rem;
}
#hero .content {position: absolute; width:100%; transform: translate(-50%, -50%); left: 50%;top: 50%;}


button{background-color:#dddddd;}
button:hover {background-color:rgb(178, 178, 178);}

.row{
    display:flex;
    align-items: baseline;
    justify-content: center;
    max-width:100%;}

ul {
    list-style:none;
    margin: 0;
    text-align: center;
    width: 100%;
    padding:0;
}
li{
    display: inline-block;
    padding:1rem;
    margin:0rem 1rem;   
}
li picture{
    max-width:100%;
    vertical-align: middle;
}
li img{
    /*max-width:100%;*/
    vertical-align: middle;
    max-width:200px;
    max-height:150px;}
li img.default{width:100px;}
/* #aknowledgement-list li{outline: blue 1px solid;} */
.modal-header{text-align: start;}
.modal-body{text-align: justify;}
footer{
    margin-top:1rem;
}