html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
body {
    touch-action: manipulation;
}

/* MODAL AND SHARE BUTTONS */
#endGameModal .modal-footer{
    display:flex;
}
.modal-footer .left{
    width:50%;
    display:flex;
    align-items:center;
}
.modal-footer .right{
    width:50%;
    display:flex;
    align-items:center;
    justify-content: flex-end;
}
.share-btn{
    display:flex;
    align-items:center;
    margin-left:3px;
    margin-right:3px;
}
/* END MODAL AND SHARE BUTTONS*/

/*  SLIDER */
/* The slider itself */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 15px;
    height: 10px !important;
    border-radius: 5px;
    background: #606060;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
input[type=range]:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle */
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        /*background: #ff5722;*/
        background: #fee090;
        /*background: rgb(46, 46, 46);*/
        cursor: pointer;
    }

    input[type=range]::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        /*background: #ff5722;*/
        background: #fee090;
        /*background: rgb(46, 46, 46);*/
        cursor: pointer;
    }

