:root{
    --clr-primary: rgb(51, 122, 183);
    --clr-bg-modal: rgb(255, 255, 255);
  }

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
body {
    touch-action: manipulation;
}

:focus{
    box-shadow: 
        0 0 0 5px var(--clr-bg-modal),
        0 0 0 10px var(--clr-primary);
        ;
}
/* Remove ugly additional focus firefox adds */
::-moz-focus-inner,
::-moz-focus-outer{
    border:0;
}
/* BUTTONS */
#instructionsModalButton{
    margin-left: 10px;
    font-size: 18px;
}
/* END BUTTONS */

/* MODAL AND SHARE BUTTONS */
.share-btn a:visited{
    color:  #fff;
}

.share-btn a:hover{
text-decoration: none;
color: #fff;
}

.share-btn :focus{
color:  #fff;
text-decoration: underline;
}

#endGameModal .modal-footer{
    display:flex;
}
.modal-footer .left{
    width:50%;
    display:flex;
    align-items:center;
}
.modal-footer .right{
    width:50%;
    display:flex;
    align-items:center;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .modal-open #endGameModal{
        display:flex!important;
        flex-direction: column;
        justify-content: center;
    }
    .modal-footer {
        flex-direction: column; /* IF CHANGED TO COLUMN-REVERSE, MOVE MARGIN-BOTTOM FROM .RIGHT TO .LEFT */ 
        align-items: center;
    }
    .modal-footer .left{
        width:100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    .modal-footer .right{
        width:100%;
        justify-content: center;
    }
  }
/* END MODAL AND SHARE BUTTONS*/

/* CAROUSEL */
.carousel-inner {
    margin-bottom:50px;
}
.carousel-inner > .item{
    text-align: center;
    text-align: -moz-center;
    transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
}
.carousel-inner > .item > img{
    max-height:80vh;
}
.carousel-control{
    opacity: 0;
    margin-bottom:-50px;
}
.carousel-control:focus,
.carousel-control:hover{
    opacity: 1;
    box-shadow: none;
}
.carousel-indicators {
    bottom:-50px;
}
.carousel-indicators li{
    background-color: rgba(0,0,0,0);
    border: 2px solid var(--clr-primary);
}
.carousel-indicators li.active{
    background-color: var(--clr-primary);
}
/* END CAROUSEL */

/*  SLIDER */
/* The slider itself */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 15px;
    height: 10px !important;
    border-radius: 5px;
    background: #606060;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
input[type=range]:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle */
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        /*background: #ff5722;*/
        background: #fee090;
        /*background: rgb(46, 46, 46);*/
        cursor: pointer;
    }

    input[type=range]::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        /*background: #ff5722;*/
        background: #fee090;
        /*background: rgb(46, 46, 46);*/
        cursor: pointer;
    }

